.container {
    display: grid;
    grid-template-columns: 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;
    grid-template-rows: 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;
}

.square {
    background-color: white;
    margin: 0;
    padding: 0;
}

.newGrid {
    color: grey;
    border-color:beige;
    border-radius: 3px;
    background-color: antiquewhite;
}

body {
    background-color: grey;
}