:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1em);
    grid-template-rows: repeat(var(--grid-rows), 1em);
    height: 960px;
    width: 960px;
}

.square {
    background-color: white;
    margin: 0;
    padding: 0;
}

.newGrid {
    color: grey;
    border-color:beige;
    border-radius: 3px;
    background-color: antiquewhite;
}

body {
    background-color: grey;
}